<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Testador_de_tabela_C_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Testador_de_tabela_C_.Properties.Settings>
            <setting name="Tab1_Tolerancia" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Tab1_Minutos30" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="Tab1_UmaHora" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="Tab1_Fracao" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="Tab2_Tolerancia" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Tab2_Minutos30" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="Tab2_UmaHora" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="Tab2_Fracao" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UltimaTabela" serializeAs="String">
                <value>0</value>
            </setting>
        </Testador_de_tabela_C_.Properties.Settings>
    </userSettings>
</configuration>